
# Formal Verification
	The process of mathematically verifying program correctness with respect to specification.

	* equality of expressions
		41 + 1 = 40 + 2 = 42

		f = (fun x -> x) ; f' = (fun y -> y)
		f = f'
		here we read `for all v . f v = f' v`
