
# Formal Verification
  The process of mathematically verifying program correctness with respect to specification.
